body {
  padding: 0;
  margin: 0;
  background-color: #cfeaf7;
}

p {
  margin: 0;
}

.background {
  padding: 2em;
  background-image: url(https://images.unsplash.com/photo-1568145675395-66a2eda0c6d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80) center center/cover;
  width: auto;
  height: auto;
}

footer {
  text-align: center;
  background-color: #1c96ca;
  color: white;
}

footer p {
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  row-gap: 20px;
  column-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-evenly;
}

.video {
  background-color: aliceblue;
  border: 2px solid #1c96ca;
  padding: 20px 20px 20px 20px;
  height: 280px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#one {
  grid-column: 1;
  grid-row: 1;
}

#two {
  grid-column: 2;
  grid-row: 1;
}

#three {
  grid-column: 3;
  grid-row: 1;

}

#four {
  grid-column: 1;
  grid-row: 2;

}

#five {
  grid-column: 2;
  grid-row: 2;

}

#six {
  grid-column: 3;
  grid-row: 2;

}

img {
  max-width: 100%;
  max-height: 100%;
}
